figure, figcaption {
	display: block;
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

.timeTo {
	font-family: OpenSansSemiBold;
	font-size: 28px;
	line-height: 108%;
	font-weight: bold;
	height: 32px;
}

.timeTo span {
	vertical-align: top;
}


.timeTo.timeTo-black div {
	color: white;
}


.timeTo figure {
	display: inline-block;
	margin: 0;
	padding: 0;
    border: 1px solid #fff;
}
.timeTo figcaption {
	text-align: center;
	font-size: 12px;
	line-height: 80%;
	font-weight: normal;
	color: #fff;
 /*    position: relative; */
    display: inline-block;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: inherit;
            margin: 0 5px;
}

.timeTo div {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 30px;
	overflow: hidden;

}
.timeTo div.first {
/*     border-left: 1px solid silver; */
}

.timeTo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 3px;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
